.umkm {
    min-height: auto;
    .image {
        width: 100%;
        height: 400px;
        position: relative;
        @media screen and (max-width: 768px) {
            // height: 100vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.bubble-chat {
    width: 200px;
    position: absolute;
    height: auto;
    background: white;
    border-radius: 16px;
    padding: 8px;
    &.leftx {
        text-align: right;
        left: 85px;
        top: 161px;
        @media screen and (max-width: 768px) {
            left: 8px;
            top: 100px;
        }
        &::before {
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-left: 24px solid #fff;
            border-bottom: 12px solid transparent;
            content: "";
            position: absolute;
            right: -10px;
            top: 64px;
            rotate: 43deg;
            @media screen and (max-width: 768px) {
                right: 70px;
                top: 66px;
                rotate: 65deg;
            }
        }
    }
    &.rightx {
        bottom: 103px;
        right: 37px;
        @media screen and (max-width: 768px) {
            bottom: 0;
            right: 0;
        }
        &::before {
            content: "";
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-right: 24px solid #fff;
            position: absolute;
            border-bottom: 12px solid transparent;
            left: -20px;
            top: 36px;
            @media screen and (max-width: 768px) {
                left: 37px;
                top: -14px;
                rotate: 68deg;
            }
        }
    }
    p {
        color: #1a1a1a;
        font-size: 1rem;
        font-weight: bold;
        @media screen and (max-width: 768px) {
            // font-size: 0.9rem;
        }
    }
}
